frontend/android/app/google-services.json
frontend/android/app/release/output-metadata.json
frontend/android/app/release/baselineProfiles/1/app-release.dm
frontend/android/app/release/baselineProfiles/0/app-release.dm
