<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-buttons slot="start"><ion-back-button defaultHref="/home" style="color: white;"></ion-back-button></ion-buttons>
    <ion-title style="color: white;">Send SOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-bottom">
    <h2>What is your emergency?</h2>
    <p>Please provide details to dispatch the correct team.</p>
  </div>

  <ion-card>
    <ion-card-content>
      <form [formGroup]="sosForm" (ngSubmit)="submitEmergency()">
        
        <ion-item class="ion-margin-bottom" fill="outline" shape="round">
          <ion-select label="Incident Type" labelPlacement="floating" formControlName="incident_type_id" interface="action-sheet">
            @for (type of incidentTypes; track type.id) {
              <ion-select-option [value]="type.id">{{ type.name }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <ion-button expand="block" color="dark" shape="round" class="ion-margin-bottom" (click)="takePhoto()">
          <ion-icon name="camera-outline" slot="start"></ion-icon>
          {{ photoPreview ? 'Retake Photo Evidence' : 'Take Photo Evidence' }}
        </ion-button>

        <div *ngIf="photoPreview" class="ion-margin-bottom ion-text-center">
          <img [src]="photoPreview" style="max-height: 150px; border-radius: 8px; border: 2px solid var(--ion-color-danger);" />
        </div>

        <div class="ion-margin-bottom" style="position: relative;">
          <div id="sos-map" style="height: 250px; background-color: #e5e5e5; border-radius: 12px; z-index: 1;"></div>
          <img src="https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png"
               style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -100%); z-index: 1000; pointer-events: none; width: 25px; height: 41px;" />
        </div>

        <ion-item class="ion-margin-bottom" fill="outline" shape="round">
          <ion-input label="Latitude" labelPlacement="floating" formControlName="latitude" readonly="true"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-bottom" fill="outline" shape="round">
          <ion-input label="Longitude" labelPlacement="floating" formControlName="longitude" readonly="true"></ion-input>
        </ion-item>

        <ion-button expand="block" fill="outline" color="dark" shape="round" class="ion-margin-bottom" (click)="getCurrentLocation()">
          <ion-icon name="locate-outline" slot="start"></ion-icon>
          Get Current Location
        </ion-button>

        <ion-button type="submit" expand="block" color="danger" shape="round" size="large" [disabled]="!sosForm.valid || !photoPreview" class="ion-margin-top">
          SUBMIT EMERGENCY
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>