<ion-header>
  <ion-toolbar color="danger">
    <ion-title>SAN ISIDRO N.E. MDRRMO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  
  <div class="ion-margin-vertical">
    <img src="assets/icon/logo.jpg" alt="MDRRMO Logo" style="max-width: 120px; border-radius: 50%;">
    <h2>Emergency Portal</h2>
    <p class="ion-color-medium">San Isidro, Nueva Ecija</p>
  </div>

  <form (ngSubmit)="login()">
    <ion-list>
      <ion-item>
        <ion-input 
          label="Email or Username" 
          labelPlacement="floating" 
          type="text" 
          name="loginField"
          [(ngModel)]="credentials.login" 
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          label="Password" 
          labelPlacement="floating" 
          type="password" 
          name="passwordField"
          [(ngModel)]="credentials.password" 
          required>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="block" color="danger" class="ion-margin-top">
      Login
    </ion-button>
  </form>

  <div class="ion-margin-top">
    <ion-button fill="clear" color="medium" routerLink="/register" style="text-transform: none;">
      Don't have an account? <span style="color: var(--ion-color-danger); margin-left: 4px;">Register here</span>
    </ion-button>
  </div>

</ion-content>