<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Citizen Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-list style="background: transparent;">
      <ion-item lines="full">
        <ion-input label="First Name" labelPlacement="floating" type="text" formControlName="first_name"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input label="Last Name" labelPlacement="floating" type="text" formControlName="last_name"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input label="Phone Number" labelPlacement="floating" type="tel" formControlName="phone"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input label="Email Address" labelPlacement="floating" type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input label="Password" labelPlacement="floating" type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-item lines="full">
        <ion-select label="Barangay" labelPlacement="floating" formControlName="barangay_id">
          <ion-select-option value="1">Alua</ion-select-option>
          <ion-select-option value="2">Calaba</ion-select-option>
          <ion-select-option value="3">Malapit</ion-select-option>
          <ion-select-option value="4">Mangga</ion-select-option>
          <ion-select-option value="5">Poblacion</ion-select-option>
          <ion-select-option value="6">Pulo</ion-select-option>
          <ion-select-option value="7">San Roque</ion-select-option>
          <ion-select-option value="8">Santo Cristo</ion-select-option>
          <ion-select-option value="9">Tabon</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-item>
    </ion-list>

    <ion-button expand="block" color="danger" class="ion-margin-top" type="submit" [disabled]="!registerForm.valid">
      Create Account
    </ion-button>
  </form>

  <div style="text-align: center; margin-top: 1.5rem;">
    <p>Already have an account?</p>
    <ion-button fill="clear" color="dark" routerLink="/login">
      Log In
    </ion-button>
  </div>
</ion-content>