// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
    --ion-border-radius: 16px;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
}